<!DOCTYPE html>
<html>
<head>
<title>About</title>
<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="card">

<h1>About Project</h1>

<p>
This project uses K-Means Clustering
to group mall customers based on:
</p>

<ul>
<li>Annual Income</li>
<li>Spending Score</li>
</ul>

<h2>Algorithm</h2>

<p>K-Means Clustering</p>

<h2>Clusters</h2>

<ul>
<li>Premium Customers</li>
<li>Luxury Shoppers</li>
<li>Regular Customers</li>
<li>Budget Customers</li>
<li>High Potential Customers</li>
</ul>

</div>

</body>
</html>